## Node
node_modules

## logs
rejections.log
exception.log

## System
.env

## Installer logs
pip-log.txt

## Unit test / coverage reports
.coverage
.tox

## lockfiles
*.lock

## caches
cachedir
.cache
.pytest_cache

## Mac
.DS_Store

## vscode
.vscode

## Python
*.pyc
*.mypy_cache/
*.pytest_cache/

## Private
.private

# Ignore server/data/temp folder because it is used for storing temporary files on server
server/data/temp/
server/uploads/
