## Node
node_modules

## logs
*.log

## Ignore workspace information
projects/*/.venv

## App
results

## Docker Staging Directories
docker_staging*

## System
.env

## Poetry
.poetry.toml
poetry.toml

## Python
__pycache__
.installed.cfg
*.egg
*.egg-info
*.py[co]
bin
build
develop-eggs
dist
eggs
parts
sdist
var

## Installer logs
pip-log.txt

## Unit test / coverage reports
.coverage
.tox

## lockfiles
*.lock
poetry.lock

## caches
cachedir
.cache
.mypy_cache
.pytest_cache

## Mac
.DS_Store

## Other Ignore 
.private
*.bk.*
errors.txt

## vscode
.vscode
