## Node
node_modules

## logs
rejections.log
exception.log

## Ignore workspace information
projects/*/.venv
projects/*/poetry.toml

## App
results

## Docker Staging Directories
docker_staging*

## System
.env

## Poetry
.poetry.toml

## Python
*.py[co]
__pycache__
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
dist

## Installer logs
pip-log.txt

## Unit test / coverage reports
.coverage
.tox

## lockfiles
*.lock
poetry.lock

## caches
cachedir
.cache
.pytest_cache

## Mac
.DS_Store

## temp files
*.bk.*
test_retrieval_*
tempdb
t.csv
errors.txt
.private

## vscode
.vscode
