.theme-light {
  .app-layout {
    background: var(--base-beige-light);
    color: var(--text-primary-default);

    /* LeftDrawer.tsx */
    .app-left-drawer {
      background: var(--primary-default);

      .app-left-drawer-container {
        .app-left-drawer-list {
          .app-left-drawer-listitem {
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;

            &:hover {
              background: transparent;

              svg path {
                fill: var(--accent-colour-default) !important;
              }

              .svg-only-stroke {
                svg path {
                  stroke: var(--accent-colour-default) !important;
                  fill: none !important;
                }
              }
            }
          }
          .Mui-selected {
            border-left: 4px solid var(--accent-colour-default, #ddeb18);
            background: var(
              --primary-400,
              linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),
              #2f4858
            );

            &:hover {
              background: var(
                --primary-400,
                linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),
                #2f4858
              );
            }
          }
        }

        .app-left-drawer-logout {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          width: 100%;
          box-sizing: border-box;

          &:hover {
            border-left: 4px solid var(--accent-colour-default, #ddeb18);
            background: var(
              --primary-400,
              linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),
              #2f4858
            );

            svg path {
              fill: var(--accent-colour-default) !important;
            }
          }
        }
      }
    }
  }

  /* MiddleModal.tsx */
  .middle-screen-modal {
    .middle-screen-container {
      background: var(--base-beige-light);
      filter: none;

      h2,
      p {
        color: var(--text-primary-default);
      }
    }
  }

  /* Chatbots.tsx */
  .chatbots {
    h2 {
      color: var(--text-primary-default);
    }
  }

  /* EmptyComponent.tsx */
  .app-empty {
    p {
      color: var(--text-primary-default);
    }
  }

  /* SidePanel.tsx */
  .app-sidepanel {
    background: var(--base-white, #fff);
    box-shadow: 2px 4px 16px 0px rgba(48, 50, 50, 0.12);
  }

  /* ConversationView.tsx */
  .conversation-view {
    &--header {
      border-bottom: 1px solid var(--grey-100, #e4e5e5);

      h3 {
        color: var(--text-primary-default);
      }
    }
  }

  /* apps.tsx */
  .desktop-apps {
    h2 {
      color: var(--text-primary-default);
    }

    &--scrollable {
      .desktop-label {
        color: var(--text-primary-default);
      }

      .desktop-grid-view {
        .desktop-app-btn {
          p {
            color: var(--text-primary-default);
          }

          &:hover {
            p {
              color: var(--base-default-grey-01);
            }
          }
        }
      }
    }
  }

  /* links.tsx */
  .links {
    h2 {
      color: var(--text-primary-default);
    }

    .link-row-item {
      .link-actions {
        .link-action-icon {
          background: var(--base-light-drawer-bg);
        }
      }
    }
  }

  /* ShortCutButton.tsx */
  .shortcut-button {
    color: var(--text-primary-default);
    background: var(--base-light-drawer-bg);
    border-bottom: 2px solid var(--base-light-drawer-bg);
    box-shadow: inset 0px -1px 0px var(--base-light-drawer-bg);
  }

  /* routings.tsx */
  .routings {
    h2 {
      color: var(--text-primary-default);
    }

    .routing-row-item {
      .routing-actions {
        .routing-action-icon {
          background: var(--base-light-drawer-bg);
        }
      }
    }
  }

  /* insights.tsx */
  .insights {
    .insights-table {
      .insights-table-row {
        p {
          color: black;
        }

        .insights-col-item-company {
          &:hover {
            color: black;
            transform: scale(1.01);
          }
        }
      }
    }
  }

  /* CustomDropdown.tsx */
  .app-custom-dropdown {
    &--header {
      background: var(--base-white);
      box-shadow: 2px 4px 16px 0px rgba(48, 50, 50, 0.2);
    }

    &--options {
      background: var(--base-white);
      box-shadow: 2px 4px 16px 0px rgba(48, 50, 50, 0.2);

      .app-dropdown-row-item {
        &:hover {
          background: var(--base-beige-light);
          border-left: 4px solid var(--text-primary-default);
        }
      }
    }
  }
}
