/* CustomSearch.tsx */
.app-custom-search {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: var(--base-white, #ffffff);
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-right: 5px;

  svg {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    flex-shrink: 0;
  }

  input {
    flex-grow: 1;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: var(--text-primary-default, #303232);
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.8px;

    &::placeholder {
      color: var(--text-primary-disabled, #c9cbcb);
      font-style: italic;
    }
  }
}

/* Login.tsx */
.app-login-btn {
  width: 230px;
  height: 48px;
  margin: 5px 0 !important;
  font-family: "Inter" !important;

  svg {
    width: 24px;
    height: 24px;
  }
}

/* ToolTip.tsx */
.tooltip-container {
  display: flex;

  .tooltip-options-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 1em;
    top: 4px;

    .tooltip-options {
      background-color: var(--base-dark-drawer-bg);
      min-width: 24px;
      text-align: center;
      margin: 0px 5px;
      border-radius: 3px;
      color: var(--text-dark-primary);
      font-size: 12px;
      font-family: "Inter";
      font-style: normal;
      font-weight: normal;
      box-shadow: inset 0px -2px 0px #d4d4d6;
      border-radius: 2px;
      border: none;
      border-bottom: 1px solid #d4d4d6;
      height: 25px;
      padding: 0 5px;
    }
  }
}

/* CustomTabPanel.tsx */
.app-custom-tab-panel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

/* EmptyComponent.tsx */
.app-empty {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 35px 0;

  img {
    width: 256px;
    max-width: 100%;
  }

  p {
    margin: 20px 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: fit-content;
    margin: auto;
    text-align: center;

    span {
      cursor: pointer;
      color: var(--base-default-blue);
      margin: 0 5px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

/* SidePanel.tsx */
.app-sidepanel {
  width: 480px;
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30000;
  transition: width 1s ease, display 1s ease;
  overflow: hidden;

  .app-sidepanel-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 40px 0 0;
    box-sizing: border-box;

    .app-sidepanel-close {
      position: absolute;
      top: 16px;
      right: 16px;
      z-index: 10;
    }

    .app-sidepanel-children {
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}

.app-sidepanel-hidden {
  width: 0;
  display: none;
}

/* ShortCutButton.tsx */
.shortcut-button {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  line-height: 23px;
  font-family: "Inter";
  font-weight: bold;
  flex-shrink: 0;

  &:hover {
    opacity: 0.7;
  }
}

/* EscComponent.tsx */
.esc-component {
  display: flex;
  align-items: center;

  .esc-close {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 0 12px 0 8px;
  }
}

/* CustomDropdown.tsx */
.app-custom-dropdown {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;

  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--header {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 10px 0 16px;
    box-sizing: border-box;
    border-radius: 4px;

    .app-dropdown-preicon {
      margin-right: 5px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .app-dropdown-suficon {
      margin-left: auto;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &--options {
    width: 100%;
    height: fit-content;
    max-height: 160px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    border-radius: 4px;
    z-index: 10;

    .app-dropdown-row-item {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0 12px;
      box-sizing: border-box;
      border-left: 4px solid transparent;
    }
  }
}

/* CustomButton.tsx */
.app-button {
  height: 100%;
  width: fit-content;
  padding: 0 12px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.56px;
  outline: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  svg {
    margin-right: 5px;
    flex-shrink: 0;
  }
}

.app-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  svg {
    margin-right: 5px;
    flex-shrink: 0;
  }
}

.app-button-primary {
  border: 1px solid var(--primary-default, #2f4858);
  background: var(--base-white, #fff);
  color: var(--primary-default, #2f4858);
}

.app-button-success {
  border: 1px solid var(--semantics-success-default, #07a721);
  background: var(--semantics-success-lightest, #e6fddf);
  color: var(--semantics-success-default, #07a721);
}

.app-button-error {
  border: 1px solid var(--semantics-error-default, #d31502);
  background: var(--semantics-error-light, #ffebe7);
  color: var(--semantics-error-default, #d31502);
}

.app-button-semantics {
  border: 1px solid var(--semantics-info-default, #264daf);
  background: var(--semantics-info-light, #eaf3fb);
  color: var(--semantics-info-default, #264daf);
}

.app-button-accent {
  border: 1px solid var(--accent-colour-default, #ddeb18);
  background: var(--accent-colour-light, #f8fcc7);
  color: var(--accent-colour-default, #ddeb18);
}

.app-button-filled_primary {
  border: 1px solid var(--primary-default, #2f4858);
  background: var(--primary-default, #2f4858);
  color: var(--accent-colour-default, #ddeb18);
}

/* CustomReactToolTip.js */
.global-main-tooltip-customize {
  background: #63626a;
  border: 1px solid #d4d4d6;
  border-radius: 4px;
  width: 224px;
  height: 112px;
  padding: 10px;

  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
  }
}

/* AvatarTitle.tsx */
.app-avatar-title {
  display: flex;
  align-items: center;
  width: fit-content;

  p {
    color: var(--text-primary-default, #303232);
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
  }

  &--avatar {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid var(--text-primary-default, #303232);
    margin-right: 12px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      text-transform: uppercase;
    }
  }
}

/* CustomSelect.tsx */
.app-select {
  width: 100%;
  height: 100%;
  padding-left: 8px;
  box-sizing: border-box;
  position: relative;

  & > div {
    height: 100%;
  }

  .app-select-arrow {
    position: absolute;
    right: 6px;
    top: 0;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
