@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./font.css");
@import url("./global-components.scss");
@import url("./grid.scss");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.custom-tag-input {
  input {
    margin-bottom: 1px !important;
  }

  .react-tagsinput-tag {
    border-radius: 4px;
    background-color: #eceeef;
    border: none;
    color: black;
  }
}

.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.required:after {
  content: " *";
  color: #c94e4e;
  font-size: 18px;
}

.alternative-row {
  background: var(--grey-50, #f9f9f8);
}

.no-bordered {
  border: none !important;
}

.app-custom-switch {
  width: 36px;

  label {
    width: inherit !important;
  }

  .MuiFormControlLabel-root {
    transform: scale(0.8);
  }

  .MuiSwitch-thumb {
    background: #787d7d !important;
  }
  .MuiSwitch-track {
    background: #aeb1b1 !important;
  }
  .custom-switch-active {
    .MuiSwitch-thumb {
      background: #2f4858 !important;
    }
    .MuiSwitch-track {
      background: #2f4858 !important;
    }
  }

  .MuiTypography-root {
    color: var(--text-secondary-default, #787d7d);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    white-space: nowrap;
  }
}

.app-custom-switch-start {
  .MuiFormControlLabel-root {
    transform: scale(1);
    margin-left: 0;

    .MuiTypography-root {
      font-size: 14px !important;
    }

    .MuiSwitch-root {
      transform: scale(0.8);
      margin-right: -12px;
    }
  }
}

.app-custom-checkbox {
  & > label {
    margin-left: 0;
    width: fit-content !important;
  }

  .MuiTypography-root {
    color: var(--text-primary-default, #303232);
    font-family: "Inter";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
  }

  .MuiCheckbox-root {
    padding: 0 6px;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  .Mui-checked {
    svg {
      path {
        color: #2f4858 !important;
      }
    }
  }
}
