.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.middle-screen-modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .middle-screen-container {
    background: var(--base-default-grey);
    width: 560px;
    height: 400px;
    filter: drop-shadow(0px 0px 1px rgba(30, 28, 35, 0.75))
      drop-shadow(0px 0px 0px rgba(30, 28, 35, 0.75)) drop-shadow(0px 0px 2px #1e1c23);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 25px;
    position: relative;

    h2 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: var(--text-dark-primary);
      margin-bottom: 20px;
    }

    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: var(--text-dark-primary);
      max-width: 342px;
      margin: 0;

      a {
        color: var(--text-dark-default);
        font-weight: 600;
      }

      span {
        color: var(--base-default-blue-1);
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    img {
      width: 288px;
      height: auto;
      margin: 15px 0;
    }

    button {
      width: 90px;
      height: 24px;
      background: var(--base-default-blue-1);
      border-radius: 166px;
      margin-top: auto;
      cursor: pointer;
      text-transform: capitalize;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: var(--base-default-grey-02);
      font-family: "Inter";
      font-style: normal;
      font-weight: 800;
      font-size: 8px;
      line-height: 16px;
      outline: none;
      border: none;

      &:hover {
        opacity: 0.7;
      }
    }

    &--learn-more {
      position: absolute;
      left: -180px;
      top: 300px;
      background-color: #D4D4D6;
      width: 288px;
      height: auto;
      padding: 20px 16px;
      border-radius: 5px;
      opacity: 0.9;

      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        color: var(--text-dark-primary);
        margin-bottom: 20px;

        span {
          font-weight: 400;
          color: var(--text-primary-default);
          cursor: text;
          &:hover {
            opacity: 1;
          }
        }
      }

      .learn-more-contents{
        .learn-more-item {
          display: flex;

          img {
            width: 32px;
            height: 32px;
            margin: 0 10px 0 -4px;
          }
        }
      }
    }
  }
}
