.links {
  .links-list {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .link-row-item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    flex-wrap: nowrap;
    cursor: pointer;
    box-sizing: border-box;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      font-family: "Inter";
      font-size: 14px;
      padding-right: 12px;
      text-align: left;
      box-sizing: border-box;
    }

    .link-title {
      width: 20%;
    }

    .link-duration-call-type,
    .link-date,
    .link-utm-campaign,
    .link-tag {
      width: 16%;
      box-sizing: border-box;
    }

    .link-tag {
      padding-right: 20px;
      box-sizing: border-box;
    }

    .link-actions {
      width: 16%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-right: 0;

      .link-action-icon {
        width: 24px;
        height: 24px;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 8px;
      }
    }
  }

  .tag_chip {
    border: 1px solid var(--semantics-success-lightest, #e6fddf);
    background: var(--semantics-success-lightest, #e6fddf);
    color: var(--semantics-success-default, #07a721);
    width: fit-content;
    max-width: 100%;
    padding: 4px 16px !important;
    border-radius: 30px;
    position: relative;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}

.link-create-page {
  width: 100%;
  height: 100%;
  display: flex;

  .link-create-body {
    position: relative;
    padding: 50px 24px 24px;
    box-sizing: border-box;
    max-width: 900px;
    width: calc(100% - 335px);
    flex-grow: 1;
    margin: 0 auto;

    .link-create-close {
      position: absolute;
      right: 24px;
      top: 60px;
    }

    .link-create-container {
      width: 100%;
      margin-top: 40px;
      height: fit-content;
      border-radius: 8px;
      background: var(--base-white, #fff);
      box-shadow: 2px 4px 16px 0px rgba(48, 50, 50, 0.12);
      padding: 20px;
      box-sizing: border-box;
      overflow: hidden;

      .link-create-head-details {
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--grey-100);
        margin-bottom: 8px;
        padding-bottom: 4px;

        p {
          color: var(--text-primary-default, #303232);
          font-family: "Inter";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 28px;
          margin: 0;
        }
      }

      .link-create-form {
        overflow-x: hidden;
        overflow-y: scroll;
        height: fit-content;
        max-height: calc(100vh - 275px);

        .link-create-form-row {
          width: 100%;
          margin: 20px 0 0;
          display: flex;
          align-items: center;

          label {
            width: 150px;
            flex-shrink: 0;
            font-family: "Inter";
            font-size: 14px;
            line-height: 18px;
          }

          .MuiTypography-root {
            font-size: 16px;
          }

          .link-create-row-input {
            width: calc(100% - 150px);
            flex-grow: 1;
            border: 1px solid var(--grey-100, #e4e5e5);
            border-radius: 4px;
            height: 40px;
            background: var(--base-white, #fff);
            padding-left: 6px;
            box-sizing: border-box;

            & > input {
              outline: none;
              background: transparent;
              padding: 0 16px 0 10px;
              box-sizing: border-box;
              border: none;
              width: 100%;
              height: 100%;
              font-size: 14px;
              font-family: "Inter";
              color: var(--text-primary-default, #303232);

              &::placeholder {
                color: var(--text-primary-disabled, #c9cbcb);
              }
            }
          }

          .link-schedule-at-least {
            width: calc(100% - 150px);
            flex-grow: 1;
            display: flex;
            align-items: center;

            .link-schedule-value {
              width: 80px;
              margin-right: 12px;
              flex-shrink: 0;
              outline: none;
              background: transparent;
              padding: 0 6px 0 10px;
              box-sizing: border-box;
              border: none;
              height: 40px;
              border: 1px solid var(--grey-100, #e4e5e5);
              border-radius: 4px;
            }

            .link-schedule-selector {
              width: 150px;
              height: 40px;
              border: 1px solid var(--grey-100, #e4e5e5);
              border-radius: 4px;
              height: 40px;
              background: var(--base-white, #fff);
              margin-right: 12px;
            }

            p {
              color: var(--text-primary-default, #303232);
              font-family: "Inter";
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
              margin: 0;
            }
          }

          .link-create-multi-selector-container {
            width: calc(100% - 150px);
            flex-grow: 1;

            .link-create-multi-selector {
              border: 1px solid var(--grey-100, #e4e5e5);
              border-radius: 4px;
              height: 40px;
              background: var(--base-white, #fff);
              padding-left: 6px;
              box-sizing: border-box;
              width: 100%;
            }

            .link-create-multi-values-view {
              width: 100%;
              margin-top: 8px;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
            }

            .add-team-member {
              color: var(--semantics-info-default, #264daf);
              font-family: "Inter";
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 20px;
              margin: 12px 0 0 0;
              cursor: pointer;
            }
          }

          .link-create-action {
            height: 32px;
            width: fit-content;
          }
        }

        .link-create-form-multi-row {
          align-items: inherit;

          label {
            margin-top: 12px;
          }
        }
      }
    }
  }

  .link-advanced-form-panel {
    width: 335px;
    height: 100%;
    padding: 50px 20px 35px;
    box-sizing: border-box;
    background: var(--base-white, #fff);
    box-shadow: 2px 4px 16px 0px rgba(48, 50, 50, 0.12);

    .link-advanced-form-header {
      width: 100%;
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--grey-100);
      margin-bottom: 12px;
      padding-bottom: 4px;
      justify-content: space-between;

      p {
        color: var(--text-primary-default, #303232);
        font-family: "Inter";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        margin: 0;
      }

      .link-advanced-form-create-button {
        height: 24px;
        width: fit-content;
      }
    }

    .link-advanced-form-body {
      width: 100%;
      height: calc(100% - 40px);
      overflow-x: hidden;
      overflow-y: scroll;

      .link-advanced-item {
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        margin-bottom: 15px;
        background: var(--base-beige-light, #efedec);
        border-radius: 4px;

        .advanced-custom-item {
          display: flex;
          align-items: center;

          p {
            margin-right: auto;
          }

          &-action {
            width: 24px;
            height: 24px;
            border-radius: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            margin-left: 5px;
            background: var(--base-light-drawer-bg);
            cursor: pointer;
          }
        }

        .adv-item-switchable {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          position: relative;
          height: 40px;

          & > label {
            position: absolute;
            width: 100%;
          }

          .MuiTypography-root {
            font-size: 16px;
          }
        }

        .adv-item-row {
          width: 100%;
          margin: 8px 0;
          display: flex;
          align-items: center;

          & > label {
            font-size: 12px;
            margin: 0 5px 0 0;
            font-family: "Inter";
            color: var(--text-primary-default, #303232);
          }

          & > input {
            flex-grow: 1;
            border: 1px solid var(--grey-100, #e4e5e5);
            border-radius: 4px;
            height: 40px;
            background: var(--base-white, #fff);
            outline: none;
            padding: 0 12px;
            box-sizing: border-box;
            font-size: 14px;
            font-family: "Inter";
            color: var(--text-primary-default, #303232);
          }
        }

        .adv-desc {
          font-style: italic;
          margin-top: 10px;
          line-height: 14px;
          font-size: 12px;
          padding-right: 8px;
          font-family: "Inter";
        }

        .adv-utm-contents {
          width: 100%;
          height: fit-content;

          & > label {
            font-size: 12px;
            margin: 0;
            font-family: "Inter";
            color: var(--text-primary-default, #303232);
          }

          & > input {
            border: 1px solid var(--grey-100, #e4e5e5);
            border-radius: 4px;
            height: 40px;
            background: var(--base-white, #fff);
            outline: none;
            padding: 0 12px;
            box-sizing: border-box;
            font-size: 14px;
            font-family: "Inter";
            color: var(--text-primary-default, #303232);
            margin-bottom: 12px;
            margin-top: 5px;
            width: 100%;

            &::placeholder {
              color: var(--text-primary-disabled, #c9cbcb);
            }
          }
        }

        .adv-item-selector {
          width: 100%;
          margin: 8px 0;
          border: 1px solid var(--grey-100, #e4e5e5);
          border-radius: 4px;
          height: 40px;
          background: var(--base-white, #fff);
        }

        .adv-multi-values-view {
          width: 100%;
          margin: 8px 0;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
      }
    }
  }
}
